<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>REMP</title>
  <link rel="shortcut icon" href="/img/favicon.ico">
  <link rel="stylesheet" href="/build/remp.css">
  <link rel="stylesheet" href="/css/black-tie.min.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:200">
</head>
<body>
  {{{app}}}
  <script id="initial-data" type="text/plain" data-json="{{initialData}}"></script>
  <script src="/build/client.bundle.js"></script>
  <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
